# SQLite

Referanser:<br>
[SQLite](https://www.sqlite.org/index.html)<br>
[Python SQLite](https://docs.python.org/3.7/library/sqlite3.html)<br>
[SQLite Browser](https://sqlitebrowser.org/dl/)<br>
[Github med oppgave](https://github.com/hogt1/vg3_fantasy)

## Connect

In [ ]:
import sqlite3
conn = sqlite3.connect('example.db')

c = conn.cursor()
c.execute("DROP TABLE stocks")
conn.commit()
conn.close()

## Create table

In [ ]:
import sqlite3
conn = sqlite3.connect('example.db')
c = conn.cursor()

# Create table
c.execute("""
CREATE TABLE stocks (
    date text, 
    trans text, 
    symbol text, 
    qty real, 
    price real
    )
""")
conn.commit()
conn.close()

## Insert

In [ ]:
import sqlite3
conn = sqlite3.connect('example.db')
c = conn.cursor()

c.execute("INSERT INTO stocks VALUES (?,?,?,?,?)", ('2019-02-26', 'BUY', 'RHAT', 100, 35.14))

conn.commit()
conn.close()

In [ ]:
import sqlite3
conn = sqlite3.connect('example.db')
c = conn.cursor()

# Insert multiple
purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ]
c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)
conn.commit()
conn.close()

## Select

In [ ]:
import sqlite3
conn = sqlite3.connect('example.db')
c = conn.cursor()

t = ('RHAT',)
c.execute('SELECT * FROM stocks WHERE symbol=?', t)
print(c.fetchone())

conn.close()

In [ ]:
import sqlite3
conn = sqlite3.connect('example.db')
c = conn.cursor()

for row in c.execute('SELECT * FROM stocks ORDER BY price'):
    print(row)
        
conn.close()

## Oppgave

Lag en database med tabell for lag og spillere. Data henter dere som json. Les json og sett data inn i tabellene.<br>
Data er her: [Data](https://fantasy.premierleague.com/drf/bootstrap-static)<br>
[Bruk json Formatter for å se på data](https://jsonformatter.curiousconcept.com/)<br>
Spillerdata er i nøkkelen "elements", lag er i nøkkelen "teams"<br>
Fra teams henter dere bare navn og id<br>
Fra elements er det lag, navn, id, poeng, form og spillerens posisjon.

Bruk spørringer for å finne de spillerene med mest poeng og best form. Utvid til pr. lag og pr. posisjon.

In [21]:
import requests
r = requests.get('https://fantasy.premierleague.com/drf/bootstrap-static')
data = r.json()

In [ ]:
import sqlite3
conn = sqlite3.connect('fantasy.db')
c = conn.cursor()

# Create table
c.execute("""
CREATE TABLE elements (
    id integer,
    team_code integer, 
    name text, 
    total_points integer, 
    form real
    )
""")
conn.commit()
conn.close()

In [23]:
for e in data['teams']:
    #print(e['first_name'], e['second_name'])
    # c.execute("insert into element (?, ?)", (e['first_name'] + ' ' + e['second_name']))  
    #print(e)
    print(e['id'], e['name'])

1 Arsenal
2 Bournemouth
3 Brighton
4 Burnley
5 Cardiff
6 Chelsea
7 Crystal Palace
8 Everton
9 Fulham
10 Huddersfield
11 Leicester
12 Liverpool
13 Man City
14 Man Utd
15 Newcastle
16 Southampton
17 Spurs
18 Watford
19 West Ham
20 Wolves